/* ---------------- VARIABLES ---------------- */

:root {
  --bg-main: #0e0e11;
  --bg-alt: #15151a;
  --bg-soft: #1c1c22;
  --bg-blue: rgba(117, 117, 144, 0.165);
  
  --border-color: #34343e;

  --text-main: #f5f5f7;
  --text-muted: #b3b3bd;

  --accent: #ff8a00;
  --accent-soft: rgba(255, 138, 0, 0.15);

  --radius: 16px;
  --max-width: 1100px;
}

/* ---------------- RESET ---------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg-main);
  color: var(--text-main);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  color: black;
}

button.primary {
  background-color: var(--accent);
  border: unset;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

button.primary:hover {
  background-color: var(--accent-soft);
}

button.secondary {
  border: 1px solid var(--accent);
  border-radius: 0.5rem;
  background-color: unset;
  padding: 0.5rem 1rem;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--accent);
}

button.secondary:hover {
  background-color: var(--accent);
  color: var(--background);
}

button.tertiary {
  border: unset;
  background-color: unset;
  padding: 0;
  color: var(--orange);
  font-weight: 600;
}

.break {
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}