.page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page .contender_div {
  border: solid 1px var(--border-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0px;
  background-color: var(--bg-blue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  min-height: 300px;
}